POSTGRES_DB=libra
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin

KC_DB_NAME=keycloak
KC_DB_USER=keycloak
KC_DB_PASSWORD=keycloak_pass

KEYCLOAK_ADMIN_CLIENT_ID=back-admin
KEYCLOAK_ADMIN_CLIENT_SECRET=fm2aHASCdeIHk5zB6Y5KQUUITfO4JGkp
